{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<div class="card-header sticky-top">
<div class="container">
<a href="{% url 'home' %}" class="btn bg-dark text-white">&larr; Back</a>
</div>
</div>
<br>
<div class="container">

<form class="form-horizontal" method="post">
	{% csrf_token %}

	<main class="login-form">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">Transfer Funds</div>
                    <div class="card-body">

											<div class="form-group">
	    								<label for="CustomerAccountNo">	Customer Account No.</label>
	    								<input name="customer_acc" class="form-control"></input>
	  									</div>

											<div class="form-group">
	    								<label for="amount">	Amount</label>
	    								<input name="transfer_amount" class="form-control"></input>
	  									</div>


    				</div>
                    <button type="submit" class="btn btn-dark">Submit</button>
    				</div>
    			</div>
    		</div>
            </form>
</div>
<br><br><br><br><br><br>
{% endblock %}
