{% extends 'base.html' %}
{% block content %}

<div class="container">
<br>

<div class="card">
	<div class="card-header sticky-top bg-light">
    <h3><b>DASHBOARD</b></h3>
				<div class="card-body">
				    <blockquote class="blockquote mb-0">
								<div class="row">
  								<div class="col-sm-3 text-center">
    								<div class="card">
      								<div class="card-body bg-light">
        								<a href="{% url 'customer_profile' %}" class="btn btn-light"><h5>VIEW PROFILE</h5></a>
      							  </div>
    								</div>
  							  </div>
									<div class="col-sm-3 text-center">
    								<div class="card">
      								<div class="card-body bg-light">
        								<a href="{% url '' %}" class="btn btn-light"><h5>Fund Transfer</h5></a>
      							  </div>
    								</div>
  							</div>
    					</div>
						</blockquote>
  				</div>
		</div>
</div>


</div>
<br>
<br>
{% endblock %}
