{% extends 'base.html' %}
{% block content %}


<div class="card-header sticky-top">
<div class="container">
<a href="{% url 'home' %}" class="btn bg-dark text-white">&larr; Back</a>

</div>
</div>
<br>

<div class="container">

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Sender Account</th>
      <th>Receiver Account</th>
      <th>Transactions Time</th>
      <th>Transactions Type</th>
      <th>Transactions Amount</th>
    </tr>
  </thead>

{% for x in transactions_list %}

<tbody>
    <tr>
      <td>{{ x.1}} </td>
      <td>{{ x.2}}</td>
      <td>{{ x.4}}</td>
      <td>{{ x.5}}</td>
      <td>{{ x.3}}</td>

    </tr>


  </tbody>
  {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>


{% endfor %}

</table>

</div>
<br>
<br>
<br>
<br>

{% endblock %}
